spring:
  cloud:
    config:
      server:
        git:
          uri: file:///${PROPERTIES_DIRECTORY}
          default-label: main
server:
  port: 8888
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://registry-service:8761/eureka/
  instance:
    hostname: config-server
